<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Departments</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<div th:replace="navbar.html"></div>
    <h1>All Departments</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Department Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="department : ${departments}">
                <td th:text="${department.id}"></td>
                <td th:text="${department.name}"></td>
                <td>
                    <a th:href="@{'/departments/edit/' + ${department.id}}">Edit</a>
                    <a th:href="@{'/departments/delete/' + ${department.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>   
    <a href="/departments/add">Add Department</a>
</body>
</html>
